body {
  --atom: 8px;
  --dark-line: #334;
  --darken: hsla(0, 0%, 0%, 0.1);
  --lighten: hsla(0, 0%, 100%, 0.3);
  --lighten-a-lot: hsla(0, 0%, 100%, 0.5);
  --light: #fffdfd;
  --card-width: calc(25 * var(--atom));
  font-size: 24px;
  font-family: Georgia, serif;
  background-color: var(--light);
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  color: var(--dark-line);
}

.dark {
  color: #eee;
  background-color: black;
  transition: 3s background-color;
}

.light {
  background-color: white;
  transition: 3s background-color;
}

a:link,a:visited {
  color: #333;
  font-weight: 700;
}

.dark a:link,a:visited {
  color: white;
}

body > section {
  width: 100%;
}

p {
  margin-top: 0;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.visible {
  opacity: 1;
  transition: opacity 2s;
}

.status-message {
  background-color: var(--light)fee;
  margin: 1em;
  padding: 1em;
}

button {
  color: #666;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--light);
  padding-top: 0.5em;
  border-radius: 1.2em;
  border-width: 2px;
  border-color: #666;
  border-style: solid;
  min-width: 44px;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  pointer-events: initial;
}

input {
  pointer-events: initial;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
